@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li>
            current balance (button to print a balance sheet)
        </li>
        <li>
            predicted income taxes
        </li>
        <li>
            predicted vat taxes (w button to show what to fill in at the form)
        </li>
        <li>
            a comparisment to targets (with link to page for company target and financial stuff)
        </li>
    </ul>

    settings: 
</div>
